div.tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 5px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.legendCells {
    transform: translate(300px, -350px);
    font-size: 12px;
}

.node-text {
    pointer-events: none;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

.slider-group {
    text-align: center;
}

#filters {
    background-color: #eeeeee;
}

#options {
    margin-bottom: 2rem;
    background-color: #eee;
    padding: 1rem;
}

label {
    margin-bottom: 0;
}

input {
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
}

.slider-range {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}

.select2 {
    width: 100% !important;
    margin-bottom: 2rem;
}